<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ProviderFilter</filter-name>
        <filter-class>filter.ProviderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProviderFilter</filter-name>
        <url-pattern>/provider/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HeaderController</servlet-name>
        <servlet-class>controller.HeaderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderController</servlet-name>
        <servlet-class>controller.ProviderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingController</servlet-name>
        <servlet-class>controller.RatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>controller.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeaderController</servlet-name>
        <url-pattern>/HeaderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderController</servlet-name>
        <url-pattern>/ProviderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingController</servlet-name>
        <url-pattern>/RatingController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/BillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
